<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>9GAG Captain Obvious</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script>
            var uids = new Array();

            function collect_uids() {
                var comments = $("[class^=comment_]");
                for(var idx in comments) {
                    var comment = $(comments[idx]);
                    var class_name = comment.attr('class');
                    if(class_name == undefined) // weird
                        continue;
                    var tokens = class_name.split('_');
                    var uid = tokens[1];
                    if($.inArray(uid, uids) == -1)
                        uids.push(uid);
                }
            }

            function fill_uids() {
                for(var idx in uids) {
                    $.get('/graph/comment', {uid: uids[idx]}, function(res) {
                        $('.profile_' + res.uid).attr('src', res.profile);
                        $('.name_' + res.uid).html(res.name);
                    }, 'json');
                }
            }

            function find_meme_class() {
                $.get('/mc', {gag_id: $('#gag_id').val()}, function(res) {
                    if(res.meme_class == null)
                        $('.meme-class').html('not a meme : (');
                    else {
                        var meme_link = $('<a></a>');
                        meme_link.html(res.meme_class);
                        meme_link.attr('href', 'https://www.google.com.tw/search?q=meme+' + res.meme_class + '&oq=hehe&aqs=chrome.0.57j62.922&sugexp=chrome,mod=14&sourceid=chrome&ie=UTF-8');
                        meme_link.attr('target', '_blank');
                        $('.meme-class').html(meme_link);
                    }
                }, 'json');
            }

            $(function() {
                find_meme_class();
                collect_uids();
                fill_uids();
            });
        </script>
        <style type="text/css">
            body {
                padding-top: 90px;
                padding-bottom: 40px;
            }
        </style>
    </head>
    <body>
        <input type="hidden" id="gag_id" value="{{ gag_id }}" />
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <div class="nav-collapse collapse">
                <h1 class="muted">9GAG Captain Obvious</h1>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
            <div>
                <h2>{{ gag_img_title }}</h2>
            </div>
            <div align="right">
                <h3 class="meme-class">determine meme...</h3>
            </div>
            <div class="container" style="width: 50%; margin: 0 auto 20px;">
                <img src="{{ gag_img_url }}" class="img-polaroid" />
            </div>
            <table class="table">
                {% for comment in gag_comments %}
                    <tr class="comment_{{ comment.uid }}">
                        {% if not comment.is_lead %}
                            <td></td>
                        {% endif %}
                        <td width="60px">
                            <img src="/static/img/yao-ming.jpg" class="profile_{{ comment.uid }}" />
                        </td>
                        {% if not comment.is_lead %}
                            <td>
                        {% else %}
                            <td colspan="2">
                        {% endif %}
                            <p class="name_{{ comment.uid }}">Somebody</p>
                            <p>{{ comment.content }}</p>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>

