<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>9GAG Captain Obvious</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <style type="text/css">
            body {
                padding-top: 90px;
                padding-bottom: 40px;
            }
        </style>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <div class="nav-collapse collapse">
                <h1 class="muted">9GAG Captain Obvious</h1>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
            <div class="container" style="width: 50%; margin: 0 auto 20px;">
                <img src="http://d24w6bsrhbeh9d.cloudfront.net/photo/6368350_700b.jpg" class="img-polaroid" />
            </div>
            <table class="table">
                <tr>
                    <td width="60px">
                        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/41630_100001616821682_8165_q.jpg" />
                    </td>
                    <td colspan="2">
                        <p>John Lin</p>
                        <p>Hello</p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td width="60px">
                        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/371623_100000551347790_1436916040_q.jpg" />
                    </td>
                    <td>
                        <p>Emil Ferent</p>
                        <p>Yo</p>
                    </td>
                </tr>
                <tr>
                    <td width="60px">
                        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/41630_100001616821682_8165_q.jpg" />
                    </td>
                    <td colspan="2">
                        <p>John Lin</p>
                        <p>Hello again</p>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>

